<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pradeep.gratitude" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/toolkit_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReflectionActivity"
            android:label="@string/title_activity_reflection" >
        </activity>
        <activity
            android:name=".FavoriteReflections"
            android:label="@string/title_activity_favorite_reflections" >
        </activity>
        <activity
            android:name=".MeetingsActivity"
            android:label="@string/title_activity_meetings" >
        </activity>
        <activity
            android:name=".SearchMeetings"
            android:label="@string/title_activity_search_meetings" >
        </activity>
        <activity
            android:name=".ChaptersActivity"
            android:label="@string/title_activity_chapters" >
        </activity>
    </application>

</manifest>
